<% cache(entry) do %>
<div class="row">
  <div class="col-md-2"> 
    <%= entry.date %>
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-10">
        <%=markdown(entry.note).html_safe %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <%= link_to "edit", edit_entry_url(entry) %>
        <%= link_to "delete", entry_url(entry), method: :delete, confirm: "Are you sure you want to delete this note?" %>
      </div>
    </div>
    <div class="row highlight">
      <div class="col-md-2 author">
        <%= entry.author %>
      </div>
      <div class="col-md-5 tag">
        <%= entry.category_list %>
      </div>
    </div>
  </div>
</div>
<% end %>
